<body>
  <section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
      <h3 class="heading-secondary" style="font-size: 30px">
        Customers Feedback
      </h3>

      <div class="testimonials">
        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Dave Bryon"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
          />
          <blockquote class="testimonial-text">
            Inexpensive, high quality books, without even having to order
            manually! It feels truly magical.
          </blockquote>
          <p class="testimonial-name">&mdash; Dave Bryon</p>
        </figure>
        <hr />
        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Ben Halley"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
          />
          <blockquote class="testimonial-text">
            The AI algorithm is crazy good, it chooses the right books for me
            every time. It's amazing not to worry about what i should read
            anymore!
          </blockquote>
          <p class="testimonial-name">&mdash; Ben Halley</p>
        </figure>
        <hr />

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Steve Miller"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
          />
          <blockquote class="testimonial-text">
            Readers is a life saver! I just started a company, so there's no
            time to waste in choosing books. I couldn't live without his
            recommendation
          </blockquote>
          <p class="testimonial-name">&mdash; Steve Miller</p>
        </figure>
        <hr />

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of customer Hannah Smith"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
          />
          <blockquote class="testimonial-text">
            I got Readers for the whole family, and it frees up so much time!
            Plus, everything is new and high quality.
          </blockquote>
          <p class="testimonial-name">&mdash; Hannah Smith</p>
        </figure>
        <hr />
        <div id="paddSpinner">
          <div class="text-center">
            <div
              class="spinner-border"
              style="width: 2rem; height: 2rem"
              role="status"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery">
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/41xShlnTZTL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
        <!-- <figcaption>Caption</figcaption> -->
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/91p7WLtvCAL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/91mi4Cysj-L._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/713o0wK9yYL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="
            https://m.media-amazon.com/images/I/71VZGrjyqCL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/81KUJ56sW3L._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/71F4+7rk2eL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/71Lvac+tHQL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/71ZWm0rmwmL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/814XbqXAz-L._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/718wzK6mymL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://m.media-amazon.com/images/I/61EJP-4paRL._AC_UY327_FMwebp_QL65_.jpg"
          alt="Photo of beautifully
            arranged food"
        />
      </figure>
    </div>
  </section>
</body>
