<footer>
  <div class="icons">
    <a
      href="https://www.facebook.com/profile.php?id=100009325599675"
      target="_blank"
    >
      <i class="fa-brands fa-facebook" style="color: #f7fff7"></i>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100009325599675"
      target="_blank"
    >
      <i class="fa-brands fa-facebook-messenger" style="color: #f7fff7"> </i>
    </a>
    <a
      href="https://www.linkedin.com/in/mostafa-ahmed-abd-el-hakem-64a5551bb"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin" style="color: #f7fff7"></i>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100009325599675"
      target="_blank"
    >
      <i class="fa-brands fa-twitter" style="color: #f7fff7"></i>
    </a>
  </div>
  <br />
  <br />
  <h6>Copyright &#169; 2022</h6>
  <h6>All rights Powered by <u>Readers Shop</u></h6>
</footer>
