.icons {
  padding: 15px;
  color: #f7fff7;
  font-size: 30px;
}
.icons a {
  padding: 5px;
}
footer {
  bottom: 0;
  width: 100%;
  background-color: #343434;
  color: #f7fff7;
  text-align: center;
  font-style: italic;
  line-height: 1px;
  padding: 10px 0px;
}
