<body>
  <div class="text-center">
    <h3 class="text-warning logo"><b>📖READERS SHOP</b></h3>
    <br />
    <h5 class="text-secondary">
      Is a
      <b
        ><i><u>Books Shop Website </u></i></b
      >
      where you can find Technical, Soft, and Life social skills Books
    </h5>
    <br />

    <div class="container visionMission" width="400px" height="400px">
      <h2 class="text-secondary" style="background-color: #ffe66d">Vision</h2>
      <br />
      <h5 class="text-secondary">
        Setting the global standard in online, blended, and self learning.
      </h5>
      <br />
      <br />
      <h2 class="text-white bg-secondary">Mission</h2>
      <br />
      <h5 class="text-secondary">
        Creating community and knowledge around quality online, blended, and
        digital learning while driving innovation.
      </h5>
    </div>
  </div>
  <br />
  <br />
</body>
